- if @user_name
  %div
    %label.checkbox
      %input{:type => "checkbox", :'ng-model' => "oneAtATime"} Open only one at a time
    %accordion{:'close-others' => "oneAtATime"}
      - Storage::rooms.each do |r|
        - room_id = r[:jid]
        - if Storage::readable? @user_id, room_id
          - msgs = Storage::messages.where(:room => r.jid)
          %accordion-group
            %accordion-heading
              = "#{r[:name]}"
              %span.badge.pull-right= "#{msgs.count}"
            %ul
              - msgs.each do |m|
                %li= "[#{m[:mtime]}] #{m[:from]}: #{m[:text]}"
