:sass
  ul.messages
    :list-style none
  ul.messages li
    :margin-bottom 0.5ex
  ul.messages .time
    :color gray
  ul.messages .from
    :color #2F4F4F

- if @user_name
  %div
    %label.checkbox
      %input{:type => "checkbox", :'ng-model' => "oneAtATime"} Open only one at a time
    %accordion{:'close-others' => "oneAtATime"}
      - Room.all.each do |room|
        - if Storage::readable? @user_name, room.id
          - msgs = Storage::messages.where(:room => room.jid)
          %accordion-group
            %accordion-heading
              = "#{room.jid}"
              %span.badge.pull-right= "#{msgs.count}"
            %ul.messages
              - msgs.each do |m|
                - time = Time.parse(m[:mtime])
                - ftime = time.strftime(time.today? ? '%T' : '%F %T')
                - text = CGI.escapeHTML(m[:text]).gsub(/(\r\n|\r|\n)/, '<br />')
                %li
                  %span.time= "(#{ftime})"
                  %span.from= "#{m[:from]}:"
                  = text
